# مجلدات وحزم بيئة العمل المحلية
node_modules/

# ملفات نظام التشغيل المخفية
.DS_Store
Thumbs.db

# ملفات إعدادات التطوير المحلية أو البيئة
.env
.env.local

# مجلدات بناء المشروع المؤقتة
dist/
build/
